// _button.scss
.button {
    background-color: $primary-normal;
    color: $white-dark;
    padding: $spacing-xxs $spacing-s;
    border: none;
    border-radius: $radius-s;
    cursor: pointer;
    
    &:hover {
      background-color: darken($primary-normal, 10%);
    }
  }
  