// _footer.scss
@use '../utils/variables' as *;

.footer {
    background-color: $black-lighter;
    padding: $spacing-xl;
    color: $black-darker;
    text-align: center;
    font-size: 0.875rem;
  }