// _header.scss
.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 999;
  padding: $spacing-ml 0;
}

.header {
  padding: $spacing-xxs $spacing-sm;
  display: flex;
  align-items: center;
  gap: $spacing-m;
  justify-content: center;
  position: relative;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.78) 0%, rgba(245, 245, 245, 0.86) 100%);
  border-radius: $radius-m;
  border: $black-a-lighter 1px solid;
  
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: 0px 0px 0px 0px $white-a-pure;
    backdrop-filter: blur(2px);
    border-radius: $radius-m;
    z-index: -1;
  }
}

.dwmm-logo {
  width: 24px;
  border-radius: $radius-s;
}
