// _home.scss
.home {
    @include flex-center;
    height: 100vh;
    background-color: lighten($black-lighter, 40%);
    padding: 2rem;
  }
  
  h2 {
    margin-bottom: 1rem;
  }
  
  
  @media (max-width: 768px) {
    .home {
      padding: 1rem;
    }
  }
  