.PostLists {
    width:100svw;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}
.PostListItem {
    width: 50%;
    display: inline-flex;
    padding: $spacing-m;
    border-radius: $radius-sm;
    & a {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        gap: $spacing-sm;
        margin-bottom:0;
        text-decoration: none;
        color: $black-darkest;
    }
    & img {
        width: 100%;
        border-radius: $radius-s;
    }
    & h2, p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    & .postTitle {
        -webkit-line-clamp: 1;
    }
    & .postContent {    
        -webkit-line-clamp: 3;    
    }
    &:hover {
        transition: 400ms linear;
        // shadow-3
        box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15), 0px 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 2px 0px rgba(255, 255, 255, 0.12) inset;
    }
}

@media (max-width: 768px) {
    .PostLists {
        flex-direction: column;
    }
    .PostListItem {
        width: 100%;
    }
}