@import '../utils/variables';

.skeleton-loader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  // background-color: $black-a-lightest;
  border-radius: 4px;
  padding: $spacing-m;
  border-radius: $radius-sm;
  width: calc(50svw - 40px);
  & div:not(.skeleton-item) {
    background-color: $black-a-lighter;
    border-radius: $radius-s;
  }
}

.skeleton-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  & div{
    animation: shimmer 1.5s infinite linear;
    background: linear-gradient(90deg, $black-a-lightest 25%, $black-a-lighter 50%, $black-a-lightest 75%);
    background-size: 200% 100%;
  }
}

.skeleton-thumbnail {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.skeleton-title {
  width: 50%;
  height: 40px;
}

.skeleton-content {
  width: 100%;
  height: 60px;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
