// _button.scss
.button {
  padding: $spacing-xxs $spacing-sm;
  border: none;
  border-radius: $radius-s;
  cursor: pointer;
  line-height: 120%;
  transition: all 0.15s ease;

  &.l{
    height: 40px;
    font-size: 22px;
    padding: $spacing-s $spacing-sm;
    border-radius: $radius-m;
  }
  &.m{
    font-size: 1rem;
    padding: $spacing-xs $spacing-s;
    border-radius: $radius-s;
  }
  &.s{
    font-size: 0.75rem;
    padding: $spacing-xxs $spacing-xs;
    border-radius: $radius-xs;
  }
  &.text {
    background-color: none;

    &.inactive {
      color: $black-darkest;
    }
    
    &.active {
      color: $white-a-normal;
      background-color: $black-darkest;
      &:hover {
        background-color: $black-a-darkest;
      }
    }

    &.selected {
      color: $primary-a-normal;
      background-color: $primary-a-lighter;
      &:hover {
        background-color: $primary-a-lightest;
      }
    }

    &:hover {
      background-color: $black-a-lightest;
    }
  }
}

a.button {
  text-decoration: none;
  display: flex;
  align-items: center;
}

// color
.button.primary {
  background-color: $primary-normal;
  color: $white-darkest;

  &:hover {
    background-color: $primary-dark;
  }
}

.button.tertiary {
  background-color: none;
  color: $black-darkest;

  &:hover {
    background-color: $black-a-lightest;
  }
} 
