.content-grid {
  padding: $spacing-l;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: $spacing-l 0;
  align-items: stretch;
  width: 100%;
  height: fit-content;

  @media (max-width: 768px) {
    padding: 0;
  }
}