.hero {
  padding: 6rem 2rem;
  color: $black-a-darkest;
  background-color: $white-a-pure;
  
  .hero-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .hero-text {
    text-align: center;
  }

  .hero-title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 1.5rem;
    
    @media (min-width: 768px) {
      font-size: 3rem;
    }
  }

  .hero-description {
    font-size: 1.125rem;
    line-height: 1.6;
    color: $black-a-light;
    
    @media (min-width: 768px) {
      font-size: 1.25rem;
    }
  }
}
  