.LNB-section {
  color: $black-darkest;
  text-align: center;
  height: 100%;
  overflow-y: auto;
  max-width: 360px;
  padding: $spacing-ml;
  box-sizing: border-box;
  // border-right: 1px solid $black-lighter;
  width: 360px;

  .LNB-content {
    max-width: 360px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 1000;
    margin-bottom: $spacing-m;
    line-height: 1;
    text-align: left;
    color: $black-a-pure;

    @media (max-width: 768px) {
      font-size: 2.5rem;
    }
  }
  
  .LNB-subtitle {
    font-size: 1rem;
    text-align: left;
    margin-bottom: $spacing-l;
    color: $black-a-darker;

    @media (max-width: 768px) {
      font-size: 1.25rem;
      line-height: 1.2;
    }
  }

  @media (max-width: 768px) {
    width: auto;
    max-width: none;
    height: auto;
    overflow: visible;
    border-right: none;
    // border-bottom: 2px solid $black-darkest;
    padding: $spacing-ml $spacing-ml $spacing-l;
  }
}
  