.search-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: $white-a-pure;
    border-radius: $radius-m;
    display: flex;
    flex-direction: column;
    gap: $spacing-s;
    align-items: flex-start;
}

.search-form {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    gap: 0;
    // border: 2px solid $black-darkest;
    border-radius: $radius-s;
}

form .search-input-container {
    width: 100%;
    display: flex;
    align-items: center;
    border: none;
    border-radius: $radius-s;
    font-size: 1rem;
    height: 28px;
    background: $black-a-lightest;
    transition: all 0.2s ease;

    &:focus {
        outline: 1px solid $black-a-lighter;
    }

    .search-input {
        flex: 1;
        height: 100%;
        padding: 0 $spacing-m;
        border: none;
        background: none;
        font-size: 1rem;
        color: $black-a-darkest;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $black-a-darker;
            opacity: 0.5;
        }
    }
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-m;
    padding: $spacing-xs;

    .filter-group .filter-label {
        text-align: left;
        margin-bottom: $spacing-xs;
        font-weight: 600;
        color: $black-a-darker;
        font-size: 0.75rem;
    }
    .filter-badges{
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-xs;
    }
    .category-filter,
    .tag-filter {
        flex: 1;
        min-width: 200px;
    }

    .category-options,
    .tag-options {
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-xs;
    }

    .filter-button,
    .tag-button {
        padding: $spacing-xs $spacing-sm;
        background: none;
        color: $black-a-darker;
        border: none;
        border-radius: $radius-s;
        cursor: pointer;
        transition: all 0.2s ease;
        font-size: 0.875rem;

        &:hover {
            background: $black-a-lightest;
        }

        &.active {
            background: $primary-lightest;
            color: $primary-normal;
        }
    }

    .tag-button {
        border-radius: $radius-round;
    }
}
  
.no-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $spacing-xl;
    width: 100%;
    text-align: center;
  
    .no-results-message {
      margin-bottom: $spacing-l;
      
      h3 {
        color: $black-darkest;
        margin-bottom: $spacing-s;
      }
  
      p {
        color: $black-a-darker;
      }
  
      .no-results-divider {
        position: relative;
        margin: $spacing-l 0;
        color: $black-a-darker;
        font-size: 0.875rem;
  
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          width: 100px;
          height: 1px;
          background-color: $black-a-lighter;
        }
  
        &::before {
          right: calc(50% + $spacing-m);
        }
  
        &::after {
          left: calc(50% + $spacing-m);
        }
      }
    }
  }  

.thank-you-container {
    h3 {
        font-weight: 600;
    }
    p {
        margin-bottom: 0;
    }
}
  