// _variables.scss

/* Colors */
$blue-01: rgba(252, 253, 254, 1);
$blue-02: rgba(247, 249, 254, 1);
$blue-03: rgba(238, 242, 252, 1);
$blue-04: rgba(226, 234, 254, 1);
$blue-05: rgba(212, 223, 253, 1);
$blue-06: rgba(196, 209, 249, 1);
$blue-07: rgba(174, 191, 239, 1);
$blue-08: rgba(145, 166, 230, 1);
$blue-09: rgba(93, 119, 223, 1);
$blue-10: rgba(82, 106, 207, 1);
$blue-11: rgba(77, 100, 196, 1);
$blue-12: rgba(36, 47, 89, 1);
$grey-01: rgba(253, 253, 253, 1);
$grey-02: rgba(251, 251, 252, 1);
$grey-03: rgba(241, 241, 243, 1);
$grey-04: rgba(232, 232, 236, 1);
$grey-05: rgba(224, 224, 230, 1);
$grey-06: rgba(216, 216, 222, 1);
$grey-07: rgba(205, 205, 211, 1);
$grey-08: rgba(186, 186, 191, 1);
$grey-09: rgba(141, 141, 145, 1);
$grey-10: rgba(130, 130, 134, 1);
$grey-11: rgba(100, 100, 103, 1);
$grey-12: rgba(32, 32, 33, 1);
$grey-white: rgba(255, 255, 255, 1);
$grey-black: rgba(0, 0, 0, 1);
$success-dark: rgba(26, 159, 97, 1);
$success-normal: rgba(44, 221, 138, 1);
$success-lighter: rgba(44, 221, 138, 0.6);
$success-lightest: rgba(44, 221, 138, 0.4);
$warning-normal: rgba(245, 172, 46, 1);
$warning-lighter: rgba(245, 172, 46, 0.6);
$warning-lightest: rgba(245, 172, 46, 0.4);
$warning-dark: rgba(193, 126, 9, 1);
$error-normal: rgba(229, 87, 87, 1);
$error-lighter: rgba(229, 87, 87, 0.6);
$error-lightest: rgba(229, 87, 87, 0.4);
$error-dark: rgba(190, 29, 29, 1);
$paleblue-01: rgba(236, 242, 246, 1);
$paleblue-02: rgba(227, 236, 242, 1);
$paleblue-03: rgba(217, 228, 237, 1);
$paleblue-04: rgba(198, 215, 228, 1);
$paleblue-05: rgba(175, 198, 218, 1);
$paleblue-06: rgba(151, 181, 206, 1);
$paleblue-07: rgba(123, 161, 192, 1);
$paleblue-08: rgba(95, 141, 179, 1);
$paleblue-09: rgba(75, 120, 158, 1);
$paleblue-10: rgba(61, 99, 130, 1);
$paleblue-11: rgba(48, 78, 102, 1);
$paleblue-12: rgba(35, 56, 73, 1);
$grey-a-12: rgba(0, 0, 0, 0.9);
$black-a-darkest: rgba(32, 32, 33, 0.6);
$black-a-darker: rgba(32, 32, 33, 0.4);
$black-a-dark: rgba(32, 32, 33, 0.2);
$black-a-light: rgba(32, 32, 33, 0.14);
$black-a-lighter: rgba(32, 32, 33, 0.08);
$black-a-lightest: rgba(32, 32, 33, 0.04);
$white-a-normal: rgba(255, 255, 255, 0.9);
$white-a-light: rgba(255, 255, 255, 0.6);
$white-a-lighter: rgba(255, 255, 255, 0.4);
$white-a-lightest: rgba(255, 255, 255, 0.2);
$grey-a-11: rgba(32, 32, 33, 0.88);
$grey-a-10: rgba(32, 32, 33, 0.72);
$grey-a-09: rgba(32, 32, 33, 0.6);
$grey-a-08: rgba(32, 32, 33, 0.46);
$grey-a-07: rgba(32, 32, 33, 0.36);
$grey-a-06: rgba(32, 32, 33, 0.3);
$grey-a-05: rgba(32, 32, 33, 0.26);
$grey-a-04: rgba(32, 32, 33, 0.2);
$grey-a-03: rgba(32, 32, 33, 0.14);
$grey-a-02: rgba(32, 32, 33, 0.08);
$grey-a-01: rgba(32, 32, 33, 0.04);
$blue-a-01: rgba(93, 119, 223, 0.04);
$blue-a-02: rgba(93, 119, 223, 0.08);
$blue-a-03: rgba(93, 119, 223, 0.14);
$blue-a-04: rgba(93, 119, 223, 0.2);
$blue-a-05: rgba(93, 119, 223, 0.26);
$blue-a-06: rgba(93, 119, 223, 0.3);
$blue-a-07: rgba(93, 119, 223, 0.36);
$blue-a-08: rgba(93, 119, 223, 0.46);
$blue-a-09: rgba(93, 119, 223, 0.6);
$blue-a-10: rgba(93, 119, 223, 0.72);
$blue-a-11: rgba(93, 119, 223, 0.88);
$blue-a-12: rgba(93, 119, 223, 1);
$paleblue-a-01: rgba(35, 56, 73, 0.04);
$paleblue-a-02: rgba(35, 56, 73, 0.08);
$paleblue-a-03: rgba(35, 56, 73, 0.14);
$paleblue-a-04: rgba(35, 56, 73, 0.2);
$paleblue-a-05: rgba(35, 56, 73, 0.26);
$paleblue-a-06: rgba(35, 56, 73, 0.3);
$paleblue-a-07: rgba(35, 56, 73, 0.36);
$paleblue-a-08: rgba(35, 56, 73, 0.46);
$paleblue-a-09: rgba(35, 56, 73, 0.6);
$paleblue-a-10: rgba(35, 56, 73, 0.72);
$paleblue-a-11: rgba(35, 56, 73, 0.88);
$paleblue-a-12: rgba(35, 56, 73, 1);

 /* Aliases  */
$primary-light: $blue-06;
$primary-normal: $blue-09;
$primary-dark: $blue-10;
$primary-lighter: $blue-04;
$primary-lightest: $blue-03;
$black-darkest: $grey-12;
$black-darker: $grey-10;
$black-dark: $grey-06;
$black-light: $grey-04;
$black-lighter: $grey-03;
$black-lightest: $grey-01;
$white-darkest: $grey-white;
$white-darker: $grey-01;
$white-dark: $grey-02;
$white-light: $grey-03;
$white-lighter: $grey-04;
$white-lightest: $grey-05;
$secondary-normal: $paleblue-09;
$secondary-light: $paleblue-06;
$secondary-lighter: $paleblue-04;
$secondary-lightest: $paleblue-03;
$secondary-dark: $paleblue-10;
$white-a-pure: $grey-white;
$white-a-normal: $white-a-normal;
$white-a-light: $white-a-light;
$white-a-lighter: $white-a-lighter;
$white-a-lightest: $white-a-lightest;
$primary-a-normal: $blue-09;
$primary-a-light: $blue-a-07;
$primary-a-lighter: $blue-a-04;
$primary-a-lightest: $blue-a-03;
$primary-a-dark: $blue-10;
$black-a-pure: $grey-black;
$black-a-normal: $grey-a-12;
$secondary-a-normal: $paleblue-09;
$secondary-a-light: $paleblue-a-07;
$secondary-a-lighter: $paleblue-a-04;
$secondary-a-lightest: $paleblue-a-03;
$secondary-a-dark: $paleblue-10;

// spacing
$spacing-base: 16px;
$spacing-xxs: 4px;
$spacing-xs: 6px;
$spacing-s: 8px;
$spacing-sm: 12px;
$spacing-m: 16px;
$spacing-ml: 24px;
$spacing-l: 32px;
$spacing-xl: 48px;

// radius
$radius-sharp: 0px;
$radius-xxs: 2px;
$radius-xs: 4px;
$radius-s: 6px;
$radius-sm: 10px;
$radius-m: 16px;
$radius-ml: 24px;
$radius-lg: 36px;
$radius-xl: 54px;
$radius-round: 999px;

// shadow
.shadow-1 {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 2px 0px rgba(255, 255, 255, 0.12) inset;
  }
  
  .shadow-2 {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08), 0px 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 2px 0px rgba(255, 255, 255, 0.12) inset;
  }
  
  .shadow-3 {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15), 0px 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 2px 0px rgba(255, 255, 255, 0.12) inset;
  }
  
  .shadow-4 {
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.22), 0px 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 2px 0px rgba(255, 255, 255, 0.12) inset;
  }
  
  .shadow-5 {
    box-shadow: 0px 6px 40px 0px rgba(0, 0, 0, 0.3), 0px 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 2px 0px rgba(255, 255, 255, 0.12) inset;
  }