// _typography.scss

// base
body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: 0%;
  color: $black-a-darkest;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

h1, h2, h3, h4 {
  line-height: 120%;
}

p {
  line-height: 160%;
}

// styled typography
.desktop-headings-display-1 {
  font-size: 120px;
}

.desktop-headings-display-2 {
  font-size: 96px;
}

.desktop-headings-display-3 {
  font-size: 64px;
}

.desktop-headings-heading-1 {
  font-size: 56px;
}

.desktop-headings-heading-2 {
  font-size: 48px;
}

.desktop-headings-heading-3 {
  font-size: 40px;
}

.desktop-headings-heading-4 {
  font-size: 32px;
}

.desktop-body-hero {
  font-size: 28px;
}

.desktop-body-feature {
  font-size: 24px;
}

.desktop-body-highlight {
  font-size: 18px;
}

.desktop-body-content {
  font-size: 16px;
}

.desktop-body-caption {
  font-size: 12px;
}

.mobile-headings-display-1 {
  font-family: Newsreader;
  font-size: 44px;
}

.mobile-headings-display-2 {
  font-family: Newsreader;
  font-size: 40px;
}

.mobile-headings-display-3 {
  font-family: Newsreader;
  font-size: 32px;
}

.mobile-headings-heading-1 {
  font-size: 28px;
}

.mobile-headings-heading-2 {
  font-size: 24px;
}

.mobile-headings-heading-3 {
  font-size: 20px;
}

.mobile-headings-heading-4 {
  font-size: 18px;
}

.mobile-body-feature-bold {
  font-size: 18px;
}

.mobile-body-feature-accent {
  font-size: 18px;
}

.mobile-body-feature-standard {
  font-size: 18px;
}

.mobile-body-highlight-bold {
  font-size: 16px;
}

.mobile-body-highlight-accent {
  font-size: 16px;
}

.mobile-body-highlight-standard {
  font-size: 16px;
}

.mobile-body-content-bold {
  font-size: 14px;
}

.mobile-body-content-accent {
  font-size: 14px;
}

.mobile-body-content-regular {
  font-size: 14px;
}

.mobile-body-caption-accent {
  font-size: 12px;
}

.mobile-body-caption-regular {
  font-size: 12px;
}

.mobile-body-footnote-accent {
  font-size: 10px;
}

.mobile-body-footnote-regular {
  font-size: 10px;
}