// _typography.scss

// base
@import url('https://static.toss.im/tps/main.css');
@import url('https://static.toss.im/tps/others.css');

body {
  margin: 0;
  font-family: 'Toss Product Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: 0%;
  color: $black-a-darkest;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

h1, h2, h3, h4 {
  line-height: 120%;
}

p {
  line-height: 160%;
}

// styled typography
.desktop-headings-display-1 {
  font-size: 7.5rem;
}

.desktop-headings-display-2 {
  font-size: 6rem;
}

.desktop-headings-display-3 {
  font-size: 4rem;
}

.desktop-headings-heading-1 {
  font-size: 3.5rem;
}

.desktop-headings-heading-2 {
  font-size: 3rem;
}

.desktop-headings-heading-3 {
  font-size: 2.5rem;
}

.desktop-headings-heading-4 {
  font-size: 2rem;
}

.desktop-body-hero {
  font-size: 1.75rem;
}

.desktop-body-feature {
  font-size: 1.5rem;
}

.desktop-body-highlight {
  font-size: 1.125rem;
}

.desktop-body-content {
  font-size: 1rem;
}

.desktop-body-caption {
  font-size: 1rem;
}

.desktop-subbody-content {
  font-size: 0.75rem;
}

.desktop-subbody-caption {
  font-size: 0.75rem;
}

.mobile-headings-display-1 {
  font-family: Newsreader;
  font-size: 2.75rem;
}

.mobile-headings-display-2 {
  font-family: Newsreader;
  font-size: 2.5rem;
}

.mobile-headings-display-3 {
  font-family: Newsreader;
  font-size: 2rem;
}

.mobile-headings-heading-1 {
  font-size: 1.75rem;
}

.mobile-headings-heading-2 {
  font-size: 1.5rem;
}

.mobile-headings-heading-3 {
  font-size: 1.25rem;
}

.mobile-headings-heading-4 {
  font-size: 1.125rem;
}

.mobile-body-feature-bold {
  font-size: 1.125rem;
}

.mobile-body-feature-accent {
  font-size: 1.125rem;
}

.mobile-body-feature-standard {
  font-size: 1.125rem;
}

.mobile-body-highlight-bold {
  font-size: 1rem;
}

.mobile-body-highlight-accent {
  font-size: 1rem;
}

.mobile-body-highlight-standard {
  font-size: 1rem;
}

.mobile-body-content-bold {
  font-size: 0.875rem;
}

.mobile-body-content-accent {
  font-size: 0.875rem;
}

.mobile-body-content-regular {
  font-size: 0.875rem;
}

.mobile-body-caption-accent {
  font-size: 0.75rem;
}

.mobile-body-caption-regular {
  font-size: 0.75rem;
}

.mobile-body-footnote-accent {
  font-size: 0.625rem;
}

.mobile-body-footnote-regular {
  font-size: 0.625rem;
}