// _header.scss
.header {
    padding: $spacing-sm;
    background-color: rgba(0,0,0,0.04);
    background-blend-mode: difference;
    display: flex;
    align-items: center;
    gap: $spacing-m;
    position: sticky;
  }
.App-logo {
  width: 36px;
}