// _header.scss
.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  padding: $spacing-s $spacing-sm;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  position: fixed;
  z-index: 999;
  margin: $spacing-ml auto;
  justify-content: center;
  border-radius: $radius-m;
}
.dwmm-logo {
  width: 24px;
  margin: 0 4px;
  border-radius: $radius-s;
}
